# Node
**/node_modules/

# React or Angular
**/dist/
**/.angular/

# Python
**/.venv/
**/__pycache__/

# Java
**/target/

# IDE
**/.vscode/
**/.idea/

# macOS
**/.DS_Store

# Logs
**/*.log

# Environment
**/.env
**/.env.*

# Coverage
**/coverage/

# Custom
**/kbd/

# For deployment, dist is required
# !./dist